extends ../layout

block content
    p= client.firstName
    p= client.lastName
    p= client.age
    p= client.email
    p= client.road
    p= client.city
    br
    p= client

    if client.tutorID
        p Vous êtes tuteur
    else
        p Vous êtes client
        a.btn.btn-primary(href='/client/tutor-upgrade') Devenir Tuteur