extends ../layout

block content
    p= client.firstName
    p= client.lastName
    p= client.age
    p= client.email
    p= client.road
    p= client.city
    br
    pre= client

    a.btn.btn-link(href='/client/edit-profil') Editer
    a.btn.btn-link(href='/client/edit-password') Modifier le mot de passe
    a.btn.btn-link(href='/client/offer-requests') Voir les requêtes effectuées

    if client.tutorID
        p Vous êtes tuteur
    else
        p Vous êtes client
        a.btn.btn-primary(href='/client/tutor-upgrade') Devenir Tuteur