extends ../layout

block content
    .image
    .panel-body
        .row
            .col-lg-12
                table.table.table-user-information
                    tbody
                        tr
                            td
                                | Nom:
                                b= client.lastName
                        tr
                            td
                                | Prénom:
                                b= client.firstName
                        tr
                            td
                                | Age:
                                b= client.age
                        tr
                            td
                                | Rue:
                                b= client.road
                        tr
                            td
                                | Ville:
                                b= client.city
                        tr
                            td
                                | Pays:
                                b= client.country
                        tr
                            td
                                | Email:
                                b= client.email
                .align-center
                    ul
                        li
                            a#button3.roundedButton.btn(href='/client/edit-profil') Editer profil
                        li
                            a#button3.roundedButton.btn(href='/client/edit-password') Changer Mot de Passe
                        if client.tutorID
                            li
                                p.tuteur-p Vous êtes tuteur
                        else
                            li
                                a#button3.roundedButton.btn(href='/client/tutor-upgrade') Devenir Tuteur