mixin promptName(firstName, lastName)
    span= firstName[0].toUpperCase() + firstName.substring(1).toLowerCase() + " " + lastName[0].toUpperCase() + lastName.substring(1).toLowerCase()

extends ../layout

block content
    h2
        +promptName(tutor.firstName, tutor.lastName)
    if offers
        table.table.table-striped.table-bordered
            each offer in offers
                tr
                    td= offer.name
                    td= offer.matter.toUpperCase()
                    td= offer.level
                    td= offer.price + " €"


