mixin promptName(firstName, lastName)
    span= firstName[0].toUpperCase() + firstName.substring(1).toLowerCase() + " " + lastName[0].toUpperCase() + lastName.substring(1).toLowerCase()

extends ../layout

block content
    .centrer
        h2
            +promptName(tutor.firstName, tutor.lastName)
            p= tutor.nbHour
            p Matières
            each  matter in tutor.matters
                li= matter
            p= tutor.level
        if offers
            table.table.table-striped.table-bordered
                each offer in offers
                    tr
                        td= offer.name
                        td= offer.matter.toUpperCase()
                        td= offer.level
                        td= offer.price + " €"

        a.btn.btn-link(href='/tutor/new-offer') Créer une offre
        a.btn.btn-link(href='/tutor/offer-requests') Voir les requêtes des clients




