extends ../layout

block content
    if error
        each err in error
            div.bg-danger
                h3= err

    .container
        #Inscription.container
            form#new-offer(action='/tutor/new-offer' method='post')
                input(type="hidden", name="_csrf", value=csrf)
                h3  Creation d'une Offre

                fieldset
                    | Intitulé :
                    input.form-control(name='name', value=form.name, type='text', placeholder='Intitule', autofocus='')

                fieldset
                    | Description :
                    input.form-control(name='description', value=form.description, type='text', placeholder='Description', autofocus='')

                fieldset
                    .form-group
                        label(for='sel1') Niveau:

                        select#sel1.form-control(name='matter')
                            option Mathématiques

                            option Physique-Chimie

                            option Français

                            option Anglais

                            option Science de la vie et de la terre
                fieldset
                    .form-group
                        label(for='sel1') Niveau:

                        select#sel1.form-control(name='level')
                            option Primaire

                            option College

                            option Lycée

                            option Université

                fieldset
                    | Plage Horaire Début :
                    input.form-control(name='horaireMin', value=form.plageHoraire, type='text', placeholder='hh:mm')

                fieldset
                    | Plage Horaire Fin :
                    input.form-control(name='horaireMax', value=form.plageHoraire, type='text', placeholder='hh:mm')

                fieldset
                    | Plage Journaliere :
                    input.form-control(name='plageJournaliere', value=form.plageJournaliere, type='text', placeholder='Lundi, Mardi et Samedi')

                fieldset
                    | Prix :
                    input.form-control(name='price', value=form.price, type='number', min='1', max='50', size='2')

                fieldset
                    button#new-offer-submit(name='submit', type='submit')  Ajouter