extends ../layout

block content
    if offerRequests
        table.table.table-striped.table-bordered
            each request in offerRequests
                tr
                    td= request.state
                    td
                        a(href='/offer/' + request.offerID)= request.offer.name
                    td= request.date
                    td= request.beginHour
                    td= request.duration
                    td= request.offer.price + " €"
                    td= request.client.lastName
                    if request.state == 'waiting'
                        td
                            form(action='/tutor/offer-requests', method='post')
                                input(type="hidden", name="_csrf", value=csrf)
                                input(type="hidden", name="requestID", value=request._id)
                                button(name="decision", value='accept') Accepter
                                button(name="decision", value='refuse') Refuser