extends layout

block content
    if offers
        table.table.table-striped.table-bordered
            each offer in offers
                tr
                    td= offer.name
                    td= offer.matter.toUpperCase()
                    td= offer.level
                    td= offer.price + " €"
                    td
                        a(href="/tutor/" + offer.tutor.tutorID)= offer.tutor.firstName
                    td= offer.tutor.road
                    if sess.isAuthenticated
                        td= offer.tutor.distance + " m"
                    td
                        a.btn.btn-default(href='/offer/' + offer._id) Voir

