extends layout

block content
    if error
        each err in error
            div.bg-danger
                h3= err

    .container
        form#new-offer(action='/sign-up-tutor' method='post')
            input(type="hidden", name="_csrf", value=csrf)
            h3  Formulaire d'inscription

            fieldset
                | Nom :
                input.form-control(name='lastName', value=form.lastName, type='text', placeholder='Nom', autofocus='')

            fieldset
                | Prénom :
                input.form-control(name='firstName', value=form.firstName, type='text', placeholder='Prénom', autofocus='')

            fieldset
                | E-mail :
                input.form-control(name='email', value=form.email, type='email', placeholder='Adresse Mail')

            fieldset
                | Rue :
                input.form-control(name='road', value=form.road, type='text', placeholder='Rue')

            fieldset
                | Ville :
                input.form-control(name='city', value=form.city, type='text', placeholder='Ville')

            fieldset
                | Pays :
                input.form-control(name='country', value=form.country, type='text', placeholder='Pays')

            fieldset
                | Mot de passe :
                input.form-control(name='password', type='password', placeholder='Mot de passe')

            fieldset
                | Confirmation mot de passe :
                input.form-control(name='confirmPass', type='password', placeholder='Mot de passe')

            fieldset
                | Age :
                input.form-control(name='age' value=form.age, type='number')

            fieldset
                .form-group
                    label Matière(s) de Prédilection:
                    .checkbox
                        label
                            input(type='checkbox', name='matters', value='Maths')
                            | Mathématiques
                    .checkbox
                        label
                            input(type='checkbox', name='matters', value='PC')
                            | Physique-Chimie
                    .checkbox
                        label
                            input(type='checkbox', name='matters', value='Français')
                            | Français
                    .checkbox
                        label
                            input(type='checkbox', name='matters', value='Anglais')
                            | Anglais
                    .checkbox
                        label
                            input(type='checkbox', name='matters', value='SVT')
                            | Science de la vie et de la terre
                    .checkbox
                        label
                            input(type='checkbox', name='matters', value='Maths')
                            | Mathématiques

            fieldset
                .form-group
                    label(for='sel1') Niveau:

                    select#sel1.form-control(name='level')
                        option Primaire

                        option College

                        option Lycée

                        option Université

            fieldset
                button#new-offer-submit(name='submit', type='submit', data-submit='...Sending')  Valider l&apos;inscription
